/*COLOR SET
#D9B384 - base tan
#46594B - green
#A6977C - beige-tan
#734F30 - brown
#260B01 - darkbrown
#39718C - blue

*/

body{
	overflow:hidden;
	background:red;
}
#outerContainer{
	overflow:hidden;
	background:#D9B384;
	display: block;
	position: absolute;
	width:100%;
	height:100%;
}

nav.navigation{
	margin:0;
	display: block;
	width:100%;
	background: #39718C;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
nav.navigation ul{
	margin:0;
	height:3em;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-around;

    justify-content: space-around;
}
nav li{
	display: inline;
}
nav a{
	color: white;
	text-decoration: none;
	font-size: 2em;
	display: inline;
}

.container{
	background: #46594B;
	width: 90%;
	height: 90%;
	border-radius: 20px;
	margin: 2.5% 5%;
	overflow: hidden;
	display: block;
	position: fixed;
	-webkit-transform: translateX(500%);
	transform: translateX(500%);
	z-index: -1;
	transition: all 2s;
}
.container:target{
	-webkit-transform: translateX(0);
	transform: translateX(0);
	z-index: 1;
	transition: all 2s;
}
.content#homeContent{
	height: 100%;
	padding: 0 2% 2% 2%;
	overflow:auto;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	-webkit-align-items: center;
}
#sax{
	max-height:60%;
	max-width:auto;
	display:inline;
	margin: 5px;
}
#home span#text{
	color:white;
	display: inline;
	padding: 10px;
	height: 60%;
}



/*Resume Section*/
.content#resumeContent{
	height: 100%;
	padding: 0 2% 2% 2%;
	overflow:auto;
	color:white;
	display: -webkit-flex;
	-webkit-flex-flow: column wrap;
	-webkit-align-items: flex-start;
	-webkit-justify-content: flex-start;
}
#resumeContent h1{
	font-size: 3em;
}
h1,h2{
	font-family: Telex, sans-serif;
}